body{
    background-color: rgb(255, 152, 152);
}

#formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 347px;
}

#contenedor-form{
    padding: 30px 30px 70px 30px;
    background-color: white;
}

#boton1{
    float: right;
    width: 70px;
}

#genero{
    width: 100px;
}

p{
    margin: 5px 0 0 0;
    border: 1px solid rgba(255, 0, 0, 0.255);
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 55, 55, 0.201);
}