body{
    display: flex;
    background-color: aliceblue;
    margin: 0;
    flex-direction: column;
}


.barra-navegacion{
    background-color: rgb(255, 72, 0);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: right;
}

.links-barra-nav{
    justify-content: right
}

.boton-desplegable{
    justify-content: right;
}

a {
    text-decoration: none;
    color: black;
}


.logo{
    display: flex;
    align-items: center;
    align-content: center;
}

.logo img{
    margin-left: 10px;
    margin-right: 10px;
    height: 85px;
}

nav a{
    display: block;
    font-weight: 600px;
    padding-right: 10px;
}

nav a :hover{
    color:yellow
}

.footer{
    align-items: center;
    margin-top: 200px;
    background-color: rgb(31, 31, 31);
    color: rgb(209, 209, 209);
    padding-top: 10px;
    padding-bottom: 10px;
}

.nombres{
    display: flex;
}

.nombres ul{
    margin-top: 3px;
}

.copy {
    text-align: center;
}

.rrss{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.rrss img{
    width: 45px;   
}

.objetivos-sweb{
    margin-top: 3%;
    text-align: center;
}

.objetivos-sweb p{
    width: 80%;
    margin: 0 auto;
}

.mision-vision{
    display: flex;
    text-align: center;
}


.carrusel{
    align-self: center;
    width: 300px;
    margin-top: 75px;
    margin-bottom: 5%;
}

.objetivo-proyectoweb{
    margin-top: 50px;
    text-align: center;
}

.objetivo-proyectoweb p{
    width: 90%;
    margin: 0 auto;
}

.video_link{
    margin-top: 100px;
}

.video_link iframe{
    width: 250px;
    height: 445px;
}